<div class="row text-center">
	<br>
	<h1>Congratulations! </h1> 
	<br>
	<h3>Thanks for buying <i>" <%= @sale.book.slug %> "</i> <br>
	Here is the <%= link_to "download", @book.resource.url  %> link. </h3>
</div>